* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jomolhari;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: #00405c;
    width: 100%;
}

.icono {
    width: 50px;

}

header a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

h1 {
    color: white;

}

h2 {
    text-align: center;
    margin-top: 20px;
}

.crudEstudianteProfesor {
    display: flex;
    margin-left: 23px;

}


.crearEstudiante {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    border: solid blue;
    width: 300px;
    text-align: center;
}

.crearEstudiante h2 {
    margin-bottom: 20px;
    
  }

  .crearEstudiante input {
    padding: 10px;
    margin: 10px;
  }