* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jomolhari;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: #00405c;
    width: 100%;
}

.icono {
    width: 50px;

}

header a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

h1 {
    color: white;

}